@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  .student-content {
    @apply pt-12;
    @apply bg-gradient-to-r;
    @apply from-pink-200;
    @apply to-purple-300;
    @apply ml-[16.5vw];
    @apply h-screen;
    @apply transition-all;
    @apply duration-700;
  }
  .stu-sideBar {
    @apply fixed;
    @apply h-screen;
    @apply transition-all;
    @apply transition;
    @apply ease-in-out;
    @apply duration-700;
    @apply pt-12;
    @apply bg-gradient-to-b;
    @apply from-purple-800;
    @apply to-pink-500;
    @apply w-1/6;
    @apply z-10;
    @apply text-gray-200;
    @apply grid;
    @apply grid-rows-[55%,45%];
  }
  .stu-sideBar-info {
    @apply grid;
    @apply grid-rows-6;
  }
  .stu-sideBar-info-singlet {
    @apply grid;
    @apply grid-cols-[10%_37%_53%];
    @apply break-words;
    @apply justify-center;
    @apply items-center;
    @apply text-center;
    @apply pl-2;
    @apply pr-2;
    @apply pb-1;
    @apply border-b-2;
    @apply border-[#ffffff9a];
  }

  .stu-sideBar-info-singlet .text {
    @apply text-left;
    @apply text-sm;
  }
  .stu-sideBar-info-singlet:nth-of-type(3),
  .stu-sideBar-info-singlet:nth-of-type(5) .value {
    @apply text-xs;
  }
  .stu-sideBar-function-select {
    @apply grid;
    @apply grid-rows-4;
  }
  .stu-sideBar-function-container {
    @apply flex;
    @apply p-1;
    @apply bg-purple-50;
    @apply rounded-xl;
    @apply m-3;
    @apply shadow-lg;
    @apply cursor-pointer;
    @apply items-center;
    @apply justify-center;
    @apply uppercase;
    @apply tracking-wider;
    @apply cursor-pointer;
  }
  .stu-sideBar-function-container > .text {
    background: linear-gradient(45deg, #6b21a8, #ec4899);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .stu-sideBar-function-container > .ico {
    @apply bg-gradient-to-br;
    @apply from-purple-800;
    @apply to-pink-500;
  }
}
