@tailwind base;
@tailwind components;
@tailwind utilities;
/* Also applies to stuInfo */
@layer base {
  body {
    @apply bg-gradient-to-r;
    @apply from-pink-200;
    @apply to-purple-300;
  }
  .student-content {
    @apply pt-12;
    @apply ml-[16.5vw];
    @apply h-screen;
    @apply transition-all;
    @apply duration-700;
  }
  .stu-sideBar {
    @apply fixed;
    @apply h-screen;
    @apply transition-all;
    @apply transition;
    @apply ease-in-out;
    @apply duration-700;
    @apply pt-12;
    @apply bg-gradient-to-b;
    @apply from-purple-800;
    @apply to-pink-500;
    @apply w-1/6;
    @apply z-10;
    @apply text-gray-200;
    @apply grid;
    @apply grid-rows-[55%,45%];
    @apply rounded-r-3xl;
  }
  .stu-sideBar-info {
    @apply grid;
    @apply grid-rows-6;
  }
  .stu-sideBar-info-singlet {
    @apply grid;
    @apply grid-cols-[8%_25%_1fr];
    @apply break-words;
    @apply justify-center;
    @apply items-center;
    @apply text-center;
    @apply pl-2;
    @apply pr-2;
    @apply pb-1;
    @apply border-b-2;
    @apply border-[#ffffff9a];
  }
  .stu-sideBar-info-singlet .value {
    @apply text-left;
    @apply ml-1;
    @apply border-[#ffffff9a];
    @apply h-fit;
    @apply w-full;
    @apply overflow-y-scroll;
  }
  .stu-sideBar-info-singlet .ico {
    @apply text-center;
  }
  .stu-sideBar-info-singlet .text {
    @apply ml-1;
    @apply text-left;
  }

  .stu-sideBar-info-singlet:nth-of-type(3) .value {
    @apply col-span-2;
    @apply pl-[0.15rem];
  }
  .stu-sideBar-function-select {
    @apply grid;
    @apply grid-rows-4;
  }
  .stu-sideBar-function-container {
    @apply flex;
    @apply p-1;
    @apply bg-purple-50;
    @apply rounded-xl;
    @apply m-3;
    @apply shadow-lg;
    @apply cursor-pointer;
    @apply items-center;
    @apply justify-center;
    @apply uppercase;
    @apply tracking-wider;
    @apply cursor-pointer;
  }
  .stu-sideBar-function-container > .text {
    background: linear-gradient(45deg, #6b21a8, #ec4899);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .stu-sideBar-function-container > .ico {
    @apply bg-gradient-to-br;
    @apply from-purple-800;
    @apply to-pink-500;
  }
  .StuInfo-Basic {
    @apply w-full;
    @apply ml-0.5;
    @apply grid;
    @apply grid-cols-2;
    @apply p-4;
    @apply gap-4;
  }
  .stu-info-title {
    @apply col-span-2;
    @apply text-center;
    @apply font-mono;
    @apply text-3xl;
    @apply text-indigo-700;
  }
  .StuInfo-Basic-Cards {
    @apply grid;
    @apply grid-cols-[repeat(2,1fr)_10%];
    @apply text-center;
    @apply items-center;
    @apply justify-center;
    @apply text-xl;
    @apply break-words;
  }
  .stu-info-cards {
    @apply grid;
    @apply gap-4;
    @apply h-full;
    @apply row-span-2;
    @apply pb-4;
  }
  .StuInfo-Basic-Cards .label {
    @apply font-mono;
    @apply font-semibold;
    @apply text-indigo-700;
  }
  .StuInfo-Basic-Classes {
    @apply grid;
    @apply grid-rows-[10%_5%_1fr];
    @apply h-[72vh];
    @apply items-center;
    @apply border-2;
    @apply border-purple-700;
    @apply rounded-3xl;
    @apply bg-pink-100;
  }
  .stu-info-classes-title {
    @apply text-center;
    @apply text-purple-700;
  }
  .single-class.header {
    @apply bg-purple-700;
    @apply text-pink-50;
    @apply h-full;
  }
  .single-class.header,
  .single-class {
    @apply grid;
    @apply break-words;
    @apply text-xs;
    @apply grid-cols-[12%_repeat(2,1fr)_12%_1fr_10%];
    @apply text-center;
    @apply items-center;
    @apply justify-center;
  }
  .stu-info-classes-list {
    @apply overflow-y-scroll;
    @apply h-[60vh];
  }
  .single-class:nth-of-type(even) {
    @apply bg-purple-200;
  }
  .StuInfo-Basic button {
    @apply text-xs;
    @apply bg-indigo-50;
    @apply rounded-3xl;
    @apply mx-2;
  }
  .stu-info-class .edit-class-btn {
    @apply absolute;
    @apply ml-[34.65vw];
    @apply mt-[5vh];
    @apply bg-purple-700;
    @apply text-pink-50;
    @apply w-[5vw];
    @apply rounded-b-none;
  }
  .StuInfo-Edit-Class-btn-container {
    @apply absolute;
    @apply bg-black;
    @apply ml-[0vw];
    @apply -mt-[68.7vh];
    @apply bg-purple-700;
    @apply rounded-b-none;
    @apply rounded-t-xl;
  }
  .StuInfo-Edit-Class-btn-container button {
    @apply bg-transparent;
    @apply text-xs;
    @apply text-pink-50;
  }
  .enroll-new-class-modal {
    @apply z-10;
    @apply absolute;
    @apply h-[64vh];
    @apply w-[60vw];
    @apply items-center;
    @apply grid;
    @apply justify-center;
    @apply p-4;
    @apply text-center;
    @apply bg-pink-50;
    @apply ml-[12vw];
    @apply mt-[12vh];
    @apply rounded-3xl;
    @apply shadow-xl;
  }
  .enroll-new-class-search {
    @apply grid;
    @apply grid-cols-[20%_1fr_10%];
    @apply bg-purple-700;
    @apply rounded-t-xl;
    @apply text-pink-50;
  }
  .enroll-single-class.header {
    @apply bg-purple-700;
    @apply text-pink-50;
    @apply text-sm;
  }
  .enroll-single-class,
  .enroll-single-class.header {
    @apply grid;
    @apply grid-cols-[repeat(3,10%_1fr)];
    @apply justify-center;
    @apply items-center;
    @apply text-xs;
  }
  .enroll-new-class-list {
    @apply h-[45vh];
    @apply border-2;
    @apply border-purple-700;
    @apply rounded-b-xl;
    @apply overflow-y-scroll;
  }
  .enroll-single-class:nth-of-type(even) {
    @apply bg-purple-100;
  }
  .enroll-single-class {
    @apply cursor-pointer;
  }
  .enroll-single-class.selected {
    @apply bg-purple-300;
    @apply duration-700;
  }
  .enroll-new-class-search input {
    @apply text-purple-700;
  }
  .enroll-new-class-modal-btns {
    @apply grid;
    @apply grid-cols-2;
    @apply w-full;
    @apply px-24;
    @apply gap-24;
    @apply text-sm;
    @apply mt-2;
  }
  .enroll-new-class-modal button {
    @apply bg-purple-700;
    @apply text-pink-50;
    @apply rounded-xl;
  }
}
