@tailwind base;
@tailwind components;
@tailwind utilities;

/* .student-modal-selectClasS {
  z-index: 2;
} */

.exam-question {
  position: fixed;
  z-index: -2;
  opacity: 0;
}
.exam-question.show-question {
  z-index: 1;
  opacity: 1;
}

.student-sidebar-func-container {
  margin-top: 11px;
  height: 7.2vh;
}

@layer base {
  body {
    @apply inset-0;
    @apply transition-opacity;
  }
  .stu-sidebar-info .col-start-3 {
    @apply font-mono;
  }
  .stu-sidebar-info .col-start-2 {
    @apply font-mono;
  }
  .stu-sidebar-info .col-start-3:nth-child(odd) {
    @apply font-mono;
    @apply text-red-800;
  }
  .stu-sidebar-info .col-start-2:nth-child(odd) {
    @apply text-red-900;
  }
  .stu-sidebar-info .col-start-1 {
    @apply border-b-[1px];
    @apply font-bold;
    @apply text-red-500;
    @apply text-xl;
  }
  .stu-sidebar-info .col-start-3:last-of-type {
    @apply border-b-0;
  }
  .student-sidebar-func-container {
    @apply rounded-md;
    @apply bg-red-600;
    @apply m-1;
    @apply text-amber-200;
    @apply cursor-pointer;
  }
  .student-function-select {
    @apply border-t-[2px];
    @apply border-t-amber-400;
  }
  .student-sidebar-func-container button {
    @apply pl-3;
  }
  .student-modal-selectClass {
    @apply transform;
    @apply transition-all;
    @apply z-10;
    @apply absolute;
    @apply inset-0;
    @apply row-span-full;
    @apply col-span-full;
    @apply my-8;
    @apply w-[69vw];
    @apply h-[60vh];
    @apply grid;
    @apply ml-[15vw];
    @apply mt-[20vh];
    @apply bg-yellow-100;
    @apply p-2;
    @apply rounded-lg;
    @apply drop-shadow-xl;
    @apply border-2;
    @apply border-red-700;
  }
  .student-modal-selectClass button {
    @apply text-amber-100;
    @apply col-span-full;
    @apply bg-red-700;
    @apply mx-[20vw];
    @apply mt-[2vh];
    @apply rounded-lg;
    @apply drop-shadow-xl;
    @apply font-bold;
    @apply tracking-widest;
  }
  .student-modal-selectClass table {
    @apply overflow-y-scroll;
    @apply overflow-x-hidden;
    @apply text-red-900;
    @apply border-spacing-4;
  }
  .student-modal-selectClass thead {
    @apply text-gray-800;
    @apply border-b-2;
    @apply border-red-700;
    @apply text-left;
    @apply font-serif;
    @apply tracking-wider;
  }
  .student-modal-selectClass tbody {
    @apply font-mono;
    @apply border-b-2;
    @apply border-red-700;
    @apply overflow-x-hidden;
  }
  .stu-class-tbl-row {
    @apply cursor-pointer;
  }
  .row-isSelected {
    @apply transition-all;
    @apply ease-in-out;
    @apply rounded-3xl;
    @apply bg-amber-200;
    @apply overflow-hidden;
  }
}
html {
  height: 100%;
  overflow: hidden;
}
body {
  height: 100%;
  position: absolute;
  @apply bg-amber-100;
}
