@tailwind base;
@tailwind components;
@tailwind utilities;

.student-sidebar-func-container {
  margin-top: 11px;
  height: 7.2vh;
}

/* background gradient from https://codepen.io/P1N2O/pen/pyBNzX */
.loginPage {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #ff0404, #7323d5);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 100vh;
}

@layer base {
  body {
    @apply inset-0;
    @apply transition-opacity;
    @apply bg-gradient-to-br;
  }
  .loginPage {
    @apply box-border;
    @apply grid;
    @apply w-screen;
    @apply h-screen;
    @apply overflow-hidden;
    @apply grid-cols-12;
    @apply grid-rows-[auto];
  }
  .loginPage-background {
    @apply col-start-1;
    @apply col-end-9;
    @apply row-span-full;
    @apply row-start-1;
    @apply grid;
    @apply py-36;
    @apply items-center;
    @apply justify-center;
  }
  .loginPage-background {
    @apply text-red-50;
    @apply font-sans;
    @apply text-8xl;
  }
  .loginPage-background-text {
    @apply font-bold;
  }
  .loginPage-background-text:nth-of-type(1) {
    @apply w-full;
    @apply -ml-12;
    @apply tracking-tight;
    @apply font-serif;
  }
  .loginPage-background-text:nth-of-type(2) {
    @apply w-full;
    @apply ml-10;
  }
  .loginPage-background-text:nth-of-type(2) span {
    @apply w-[90%];
    @apply -ml-6;
    @apply font-mono;
  }
  .loginPage-background-text img {
    @apply object-fill;
    @apply w-[8rem];
    @apply -m-6;
    @apply inline-block;
  }
  .loginPage-form {
    @apply col-start-9;
    @apply col-end-13;
    @apply my-2;
    @apply row-span-full;
    @apply bg-white;
    @apply mr-2;
    @apply rounded-3xl;
    @apply grid-cols-[5%_20%_75%];
    @apply grid-rows-[10%_40%_40%_10%];
    @apply p-5;
    @apply grid;
    @apply text-black;
  }
  .loginPage-heading {
    @apply col-span-full;
    @apply font-bold;
    @apply tracking-wider;
    @apply text-4xl;
    @apply text-center;
    @apply mt-6;
    @apply -ml-2;
  }
  .loginPage-input-usr-label {
    @apply col-span-full;
    @apply text-sm;
    @apply text-gray-600;
    @apply mt-12;
    @apply ml-4;
  }
  .loginPage-input-usr-label:nth-of-type(2) {
    @apply -mt-60;
  }
  .loginPage-input-usr-container {
    @apply justify-end;
    @apply items-end;
    @apply col-span-full;
    @apply grid;
    @apply grid-cols-[10%_90%];
    @apply grid-rows-none;
    @apply -mt-28;
    @apply h-[8vh];
    @apply border-b-2;
    @apply border-gray-200;
    @apply pb-5;
    @apply mx-4;
  }
  .loginPage-input-usr-container:nth-of-type(3) {
    @apply -mt-64;
  }
  .loginPage-input-usr-container .ico {
    @apply text-xl;
    @apply opacity-50;
  }
  .loginPage-submit-container {
    @apply col-span-full;
    @apply -mt-44;
    @apply items-center;
    @apply justify-center;
    @apply flex;
    @apply mb-32;
    @apply rounded-3xl;
    @apply mx-24;
    @apply ml-28;
  }
  .loginPage-submit {
    @apply font-bold;
    @apply text-white;
    @apply tracking-widest;
  }
  .stu-sidebar {
    @apply shadow-lg;
    @apply mt-[18%];
  }
  .stu-sidebar-info .col-start-3 {
    @apply font-mono;
  }
  .stu-sidebar-info .col-start-2 {
    @apply font-mono;
  }
  .stu-sidebar-info .col-start-3:nth-child(odd) {
    @apply font-mono;
    @apply text-red-800;
  }
  .stu-sidebar-info .col-start-2:nth-child(odd) {
    @apply text-red-900;
  }
  .stu-sidebar-info .col-start-1 {
    @apply border-b-[1px];
    @apply font-bold;
    @apply text-red-500;
    @apply text-xl;
  }
  .stu-sidebar-info .col-start-3:last-of-type {
    @apply border-b-0;
  }
  .navBar {
    @apply grid;
    @apply grid-rows-1;
    @apply grid-cols-10;
    @apply absolute;
    @apply w-screen;
    @apply h-10;
    @apply items-center;
    @apply justify-center;
    @apply bg-gradient-to-b;
    @apply from-amber-300;
    @apply via-amber-300;
    @apply to-orange-300;
  }
  .navBar-logo {
    @apply h-10;
    @apply col-start-1;
    @apply col-end-1;
  }
  .navBar-home {
    @apply translate-x-[-7vw];
    @apply w-20;
    @apply text-center;
    @apply col-start-2;
    @apply col-end-2;
    @apply bg-amber-400;
    @apply text-amber-900;
    @apply py-2;
    @apply rounded-md;
    @apply text-sm;
    @apply font-medium;
  }
  .navBar-usr {
    @apply translate-x-[-10vw];
    @apply text-sm;
    @apply text-amber-900;
    @apply col-span-2;
  }
  .navBar-title {
    @apply translate-x-[-3vw];
    @apply text-red-600;
    @apply text-xl;
    @apply font-bold;
    @apply underline;
    @apply font-mono;
    @apply italic;
    @apply tracking-widest;
    @apply decoration-2;
    @apply decoration-amber-500;
    @apply col-span-5;
  }
  .navBar-logOut {
    @apply text-amber-900;
    @apply bg-amber-400;
    @apply px-3;
    @apply py-2;
    @apply rounded-md;
    @apply text-sm;
    @apply font-medium;
    @apply float-right;
  }
  .student-sidebar-func-container {
    @apply rounded-md;
    @apply bg-red-600;
    @apply m-1;
    @apply text-amber-200;
    @apply cursor-pointer;
  }
  .student-function-select {
    @apply border-t-[2px];
    @apply border-t-amber-400;
  }
  .student-sidebar-func-container button {
    @apply pl-3;
    @apply font-extrabold;
    @apply text-amber-50;
  }
  .student-sidebar-func-container h3 {
    @apply text-left;
  }
  .student-modal-selectClass {
    @apply transform;
    @apply transition-all;
    @apply z-50;
    @apply absolute;
    @apply inset-0;
    @apply row-span-full;
    @apply col-span-full;
    @apply my-8;
    @apply w-[69vw];
    @apply h-[60vh];
    @apply grid;
    @apply ml-[15vw];
    @apply mt-[20vh];
    @apply bg-yellow-100;
    @apply p-2;
    @apply rounded-lg;
    @apply drop-shadow-xl;
    @apply border-2;
    @apply border-red-700;
  }
  .student-modal-selectClass button {
    @apply text-amber-100;
    @apply col-span-full;
    @apply bg-red-700;
    @apply mx-[20vw];
    @apply mt-[2vh];
    @apply rounded-lg;
    @apply drop-shadow-xl;
    @apply font-bold;
    @apply tracking-widest;
  }
  .student-modal-selectClass table {
    @apply overflow-y-scroll;
    @apply overflow-x-hidden;
    @apply text-red-900;
    @apply border-spacing-4;
  }
  .student-modal-selectClass thead {
    @apply text-gray-800;
    @apply border-b-2;
    @apply border-red-700;
    @apply text-left;
    @apply font-serif;
    @apply tracking-wider;
  }
  .student-modal-selectClass tbody {
    @apply font-mono;
    @apply border-b-2;
    @apply border-red-700;
    @apply overflow-x-hidden;
  }
  .stu-class-tbl-row {
    @apply cursor-pointer;
  }
  .row-isSelected {
    @apply transition-opacity;
    @apply ease-in-out;
    @apply rounded-3xl;
    @apply bg-amber-200;
    @apply overflow-hidden;
  }
  .exam-question {
    @apply opacity-0;
  }
  .show-question {
    @apply transition-all;
    @apply ease-in-out;
    @apply duration-700;
    @apply opacity-100;
    @apply col-span-full;
    @apply z-10;
    @apply absolute;
    @apply mx-[18vw];
    @apply my-[2vh];
    @apply grid;
    @apply grid-cols-[repeat(2,50%)];
    @apply grid-rows-[50%_repeat(2,22%)_6%];
  }
  .question {
    @apply col-span-2;
    @apply bg-gradient-to-tr;
    @apply from-[#FCBF49];
    @apply to-[#ff7595];
    @apply w-[75vw];
    @apply h-[42vh];
    @apply rounded-3xl;
    @apply shadow-md;
    @apply flex;
    @apply text-center;
    @apply items-center;
    @apply justify-center;
    @apply text-amber-50;
    @apply text-2xl;
    @apply mb-4;
    @apply overflow-scroll;
  }
  .answer {
    @apply bg-amber-200;
    @apply w-[39vw];
    @apply h-[15vh];
    @apply rounded-full;
    @apply my-3.5;
    @apply mx-2;
    @apply flex;
    @apply text-center;
    @apply justify-center;
    @apply items-center;
    @apply overflow-scroll;
    @apply text-gray-800;
    @apply tracking-wide;
  }
  .answer:hover {
    @apply bg-gradient-to-br;
    @apply from-[#FCBF49];
    @apply to-[#ff7595];
    @apply transition-all;
    @apply ease-in-out;
    @apply duration-500;
    @apply delay-75;
    @apply scale-105;
    @apply text-amber-100;
  }
  .stu-exam-btn-container {
    @apply col-span-2;
    @apply flex;
    @apply justify-evenly;
    @apply space-x-3;
  }
  .stu-exam-btn-container button {
    @apply bg-orange-50;
    @apply w-[20vw];
  }
  .selected-answer {
    @apply border-emerald-800;
    @apply bg-indigo-200;
    @apply border-2;
  }
  .stu-exam-btn-container button {
    @apply h-[5vh];
    @apply rounded-md;
    @apply bg-red-600;
    @apply text-amber-200;
  }
  .question-navigate {
    @apply mt-[1vh];
    @apply z-20;
    @apply absolute;
    @apply ml-[94vw];
    @apply mr-[1vw];
    @apply w-[5vw];
    @apply h-[42vh];
    @apply grid;
    @apply grid-cols-2;
    @apply justify-evenly;
    @apply items-center;
    @apply overflow-scroll;
  }
  .question-navigate span {
    @apply m-1;
    @apply p-1;
    @apply bg-gradient-to-br;
    @apply from-[#FCBF49];
    @apply to-[#D62828];
    @apply rounded-sm;
    @apply text-center;
    @apply text-amber-100;
    @apply shadow-sm;
    @apply cursor-pointer;
  }
  .StuInfo-Basic {
    @apply col-span-full;
  }
  .StuInfo-Basic h1 {
    @apply col-span-3;
    @apply text-center;
    @apply text-xl;
    @apply m-3;
    @apply mt-0;
    @apply tracking-wider;
    @apply font-bold;
    @apply text-amber-600;
  }
  .StuInfo-Basic h1:nth-of-type(2) {
    @apply mb-5;
  }
  .StuInfo-Basic-Cards {
    @apply w-[48vw];
    @apply ml-[28vw];
    @apply col-span-full;
    @apply grid;
    @apply grid-cols-[30%,48%,2%];
    @apply grid-rows-[auto];
    @apply tracking-widest;
    @apply border-spacing-4;
    @apply items-center;
  }
  .StuInfo-Basic-Cards .label {
    @apply m-1;
    @apply col-start-1;
    @apply col-end-1;
    @apply font-serif;
    @apply text-xl;
    @apply w-[100%];
    @apply font-bold;
    @apply text-red-600;
  }
  .StuInfo-Basic-Cards .value {
    @apply col-start-2;
    @apply col-end-2;
    @apply ml-2;
  }
  .StuInfo-Basic-Card button {
    @apply col-start-3;
    @apply col-end-3;
  }
  .StuInfo-Basic-Classes {
    @apply translate-y-[-5vh];
    @apply col-span-2;
    @apply w-[95vw];
    @apply overflow-y-scroll;
    @apply h-[43vh];
  }
  .StuInfo-Basic-Classes .single-class {
    @apply ml-[16vw];
    @apply grid-cols-[9%_18%_15%_10%_40%_5%];
    @apply grid-rows-[auto];
    @apply grid;
    @apply tracking-widest;
  }
  .single-class.header {
    @apply font-bold;
    @apply text-red-600;
  }
  .edit-class-btn {
    @apply absolute;
    @apply translate-y-[-9vh];
    @apply ml-[60vw];
    @apply text-sm;
  }
  .StuInfo-Edit-Class-btn-container {
    @apply translate-y-[-4vh];
    @apply ml-[25vw];
    @apply flex;
    @apply justify-around;
    @apply w-[50vw];
  }
  .StuInfo-Edit-Class-btn-container button {
    @apply bg-red-600;
    @apply w-[10vw];
    @apply rounded-lg;
    @apply text-red-50;
    @apply drop-shadow-xl;
    @apply tracking-wider;
  }
  .enroll-new-class-modal {
    @apply z-50;
    @apply absolute;
    @apply bg-amber-300;
    @apply ml-[20vw];
    @apply w-[60vw];
    @apply mt-[10vh];
    @apply mb-[10vh];
    @apply overflow-hidden;
    @apply h-[70vh];
    @apply grid;
    @apply grid-cols-1;
    @apply grid-rows-[50%_40%_10%];
    @apply justify-center;
    @apply box-border;
    @apply transition-all;
    @apply ease-in;
    @apply duration-300;
    @apply rounded-md;
  }
  .enroll-new-class-search {
    @apply grid;
    @apply grid-cols-[19%_71%_10%];
    @apply box-border;
    @apply w-[97%];
    @apply bg-amber-50;
    @apply h-[20%];
    @apply m-2;
    @apply rounded-md;
  }
  .enroll-new-class-list {
    @apply mt-[-25vh];
    @apply ml-[1vw];
  }
  .enroll-new-class-search > * {
    @apply m-2;
  }
  .enroll-new-class-search input {
    @apply bg-amber-100;
    @apply pl-1;
    @apply h-[98%];
    @apply m-0;
  }
  .enroll-new-class-modal .enroll-single-class {
    @apply grid;
    @apply grid-cols-[10%_17%_12%_18%_12%_30%];
    @apply grid-rows-[auto];
    @apply ease-in;
    @apply transition-all;
    @apply delay-150;
    @apply duration-100;
    @apply opacity-100;
  }
  .StuInfo-Basic {
    @apply opacity-100;
    @apply ease-in;
    @apply duration-300;
  }
  .StuInfo-Basic.dimmed {
    @apply inset-0;
    @apply transition-all;
    @apply opacity-0;
    @apply duration-300;
    @apply ease-out;
  }
  .enroll-new-class-list {
    @apply overflow-scroll;
  }
  .enroll-single-class.header {
    @apply font-bold;
    @apply text-red-600;
  }
  .enroll-single-class {
    @apply cursor-pointer;
  }
  .enroll-single-class.selected {
    @apply bg-amber-500;
    @apply transition-all;
    @apply duration-150;
  }
}
html {
  height: 100%;
  overflow: hidden;
}

.loginPage-submit-container {
  background: linear-gradient(90deg, #6542ffc6, #f441a6ba, #f40373c9);
}

/* Style the rainbow text element. */
.loginPage-background-text span {
  /* Create a conic gradient. */
  /* Double percentages to avoid blur (#000 10%, #fff 10%, #fff 20%, ...). */
  background: #ca4246;
  background-color: #ca4246;
  background: conic-gradient(
    #ca4246 16.666%,
    #e16541 16.666%,
    #e16541 33.333%,
    #f18f43 33.333%,
    #f18f43 50%,
    #8b9862 50%,
    #8b9862 66.666%,
    #476098 66.666%,
    #476098 83.333%,
    #a7489b 83.333%
  );
  filter: brightness(125%);

  /* Set thee background size and repeat properties. */
  background-size: 57%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  cursor: pointer;
}
