@tailwind base;
@tailwind components;
@tailwind utilities;
/* also applies to lecInfo */
@layer base {
  .lec-sideBar,
  .admin-sideBar {
    @apply fixed;
    @apply h-screen;
    @apply transition-all;
    @apply transition;
    @apply ease-in-out;
    @apply duration-700;
    @apply pt-10;
    @apply bg-gradient-to-b;
    @apply from-purple-800;
    @apply to-pink-500;
    @apply w-1/6;
    @apply z-10;
    @apply text-gray-200;
    @apply grid;
    @apply grid-rows-[50%_1fr];
    @apply items-center;
  }
  .lec-sideBar .info-cards,
  .admin-sideBar-info {
    @apply h-full;
    @apply grid;
    @apply grid-rows-4;
    @apply items-center;
  }
  .lec-sideBar .cards,
  .admin-sideBar-info-card {
    @apply h-full;
    @apply justify-center;
    @apply items-center;
    @apply border-t-2;
    @apply pl-2;
    @apply grid;
    @apply gap-2;
    @apply grid-cols-[10%,20%,1fr];
  }
  .lec-sideBar .cards .ico-container {
    @apply text-xl;
  }
  .lec-sideBar .cards:nth-of-type(3) {
    @apply grid;
    @apply grid-cols-[10%_1fr];
    @apply gap-1;
  }
  .lec-sideBar .functions {
    @apply grid;
    @apply grid-rows-4;
    @apply h-full;
    @apply text-center;
  }
  .lec-sideBar .functions .lec-func-container,
  .admin-sideBar-function-single {
    @apply bg-purple-100;
    @apply rounded-xl;
    @apply m-2;
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply cursor-pointer;
  }
  .lec-sideBar .functions .lec-func-container h1,
  .admin-sideBar-action-single-text {
    @apply bg-gradient-to-br;
    @apply from-purple-800;
    @apply to-pink-500;
    @apply bg-clip-text;
    -webkit-text-fill-color: transparent;
  }
  .lec-info {
    @apply ml-1;
    @apply mt-1;
    @apply grid;
    @apply grid-cols-2;
    @apply items-center;
    @apply justify-center;
    @apply h-[90vh];
    @apply text-center;
    @apply w-[82vw];
  }
  .lec-info-card {
    @apply grid;
    @apply grid-cols-[30%_1fr_5%];
    @apply text-xl;
    @apply items-center;
    @apply justify-center;
  }
  .lec-info-cards {
    @apply py-6;
    @apply m-4;
    @apply border-2;
    @apply border-rose-500;
    @apply rounded-xl;
  }
  .lec-info-card-change-pw {
    @apply col-span-full;
  }
  .lec-info-cards {
    @apply grid;
    @apply gap-4;
    @apply bg-pink-50;
  }
  .lec-info-card-value {
    @apply font-mono;
  }
  .lec-info-card {
    @apply border-b-2;
    @apply border-rose-500;
  }
  .lec-info-heading {
    @apply col-span-2;
    @apply font-mono;
    @apply tracking-widest;
    @apply text-center;
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply text-3xl;
    @apply text-rose-700;
  }
  .lec-info-card-label,
  .lec-info-classes-title,
  .lec-info-classes-header {
    @apply text-rose-500;
    @apply font-semibold;
    @apply font-serif;
  }
  .lec-info-classes {
    @apply h-[72vh];
    @apply border-2;
    @apply border-pink-600;
    @apply rounded-md;
    @apply shadow-md;
    @apply bg-rose-50;
  }
  .lec-info-classes-headers,
  .lec-info-classes-list-class {
    @apply grid;
    @apply grid-cols-[repeat(2,25%)_1fr];
    @apply gap-4;
    @apply items-center;
    @apply justify-center;
    @apply break-words;
    @apply my-4;
  }
  .lec-info-classes-headers {
    @apply bg-pink-600;
    @apply h-[8vh];
  }
  .lec-info-classes-header {
    @apply text-rose-50;
  }
  .lec-info-card-change-pw {
    @apply bg-rose-500;
    @apply text-rose-50;
    @apply h-12;
  }
  .lec.stu-stat-page{
    @apply h-[78vh];
    @apply w-[83.5vw];
  }
  .lec.stu-stat-page.adm{
    @apply h-[68vh];
    @apply w-[83.5vw];
  }
}
